.genreList {
  text-align: center;
}

.genreList__movies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* background-color: DodgerBlue; */
}

.genreList__movies > div {
  margin: 15px;
}
