.utility__button {
  box-sizing: border-box;
}

.utility__button-button {
  font-size: 1.5rem;
  line-height: 1.3;
  color: black;
  outline: none;
  border: 2px solid #181717;
  min-height: 2rem;
  border-radius: 5px;
}

.utility__button-button:hover {
  color: #fff;
  cursor: pointer;
  background-color: #49cccc;
  border: 3px solid #295f5f;
}

.btn__md {
  width: 6rem;
}

.btn__lg {
  width: 8rem;
}

.btn__sm {
  width: 4rem;
}
