.utility__button {
  /* box-sizing: border-box; */
}

.utility__button-button {
  outline: none;
  min-height: 2rem;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 6px;
  background-image: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
}

.utility__button-button:hover {
  color: #fff;
  cursor: pointer;
  transition: all 0.5s;
  background-image: linear-gradient(
    30deg,
    rgba(253, 187, 45, 1) 0%,
    rgba(34, 193, 195, 1) 100%
  );
}

.btn__full {
  width: 100%;
}

.btn__md {
  width: 6rem;
}

.btn__lg {
  width: 8rem;
}

.btn__sm {
  width: 4rem;
}
