.voiceCommand {
}
.voiceCommand_btn {
  position: absolute;
  right: 20px;
  top: 30px;
  cursor: pointer;
  /* position: fixed; */
}

.voiceCommand_box {
  position: absolute;
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
  right: 25px;
  top: 80px;
  width: 40%;
  overflow: auto;
  visibility: hidden;
  max-height: 68.5vh;
  opacity: 0;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 10px;
}

.visible {
  visibility: visible;
  opacity: 1;
}

.header__logo {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 10px;
  left: 10px;
  border: 2px solid rgb(241, 239, 239);
  border-radius: 20%;
  background-color: blue;
}
