.home {
  text-align: center;
  background: blue url("../../images//background/home_bg.jpg") center;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home__logo {
  margin-top: 40px;
  width: 60%;
  max-width: 500px;
  height: auto;
}
